@import '../../../../assets/styles/main';
.sidebar-container {
    nb-sidebar {
        // background: linear-gradient(to bottom, #fff, #3366ff);
    }
    .menu-title,
    nb-icon {
        color: #fff !important;
    }
}
