@import '../../../../assets/styles/main';
.header-container {
    width: $global-with;
    padding: 0 $global-padding 0 $global-padding;
    display: flex;
    .header-logo {
        width: 50%;
        display: flex;
        justify-content: flex-start;

     
    }
    .logo {
 /*        background: url('../../images/icons/logo.png') no-repeat;
        background-size: 100%; */
        width: 80px;
        height: 40px;
    }
    .header-button {
        width: 50%;
        display: flex;
        justify-content: flex-end;
        height: 100%;

        button{
            padding: 8px 14px 8px 14px !important;
        }

    }
    
   

}
.login-container {
    width: 350px;
    background:oldlace;
    .top {
        display: flex;
        justify-content: space-between;
        height: 110px;
    }
    .top-icon {
        width: 57%;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        nb-icon {
            width: 50px;
            height: 46px;
        }
    }
    .top-shape {
        // background: url('../../images/bg-circle-login.png') no-repeat;
        width: 25%;
        background-size: 100%;
    }
    .middle {
        margin: 6% 6% 10% 6%;
        .title {
            font-weight: bold;
            font-size: 26px;
            text-align: center;
        }
        .inputs {
            margin: 8% 0 0 0;
        }
        label {
            font-size: 13px;
            font-weight: 600;
        }
        input {
            margin-bottom: 20px;
        }
        .button {
            display: flex;
            justify-content: center;
            margin-top: 2%;
            button {
                width: 65%;
                height: 12px;
            }
        }
    }
    .bottom {
        display: flex;
        align-items: flex-end;
        justify-content: flex-start;
        height: 126px;
    }
    .bottom-shape {
        // background: url('../../images/deco-login.png') no-repeat;
        width: 40%;
        background-size: 67%;
        height: 88px;
    }
}
