<div class="header-container">
    <div class="header-logo">
        <!-- <img src="../../../../assets/images/icons/logo.png" width="80" height="37" alt="">-->
       <a (click)="navigate()"> <div class="logo" ></div></a>
    </div>
    <div class="header-button" *ngIf="canShow"><button nbButton  outline status="primary" (click)="open(dialog)"><nb-icon icon="person-outline" [options]="{ animation: { type: 'zoom' } }"></nb-icon>Se connecter</button></div>
    <div class="header-button" *ngIf="!canShow"><button nbButton outline status="primary" (click)="logout()"><nb-icon icon="person-outline" [options]="{ animation: { type: 'zoom' } }"></nb-icon>Se deconnecter</button></div>
</div>

<ng-template #dialog let-data let-ref="dialogRef">
    <div class="login-container">
        <nb-card>
            <nb-card-body>
    
                <div class="top">
                    <div class="top-icon">
                        <nb-icon icon="lock" status="primary"></nb-icon>
                    </div>
                    <div class="top-shape"></div>
                </div>
                <div class="middle">
                    <div class="title">Connexion</div>
                    <div class="inputs">
                        <div class="input-item">
                            <label for="idM">Matricule BCI</label>
                            <input type="text" id="idM" nbInput fullWidth fieldSize="medium" shape="Rectangle" [(ngModel)]="id" placeholder="">
                            
                        </div>
                       <nb-form-field>
                            <label for="pass">Mot de passe</label>
                            <input type="text" fullWidth shape="Rectangle" fieldSize="medium" id="pass" [(ngModel)]="pass" nbInput>
                            <button nbSuffix nbButton ghost (click)="toggleShowPassword()">
                              <nb-icon [icon]="showPassword ? 'eye-outline' : 'eye-off-2-outline'"
                                       pack="eva"
                                       [attr.aria-label]="showPassword ? 'hide password' : 'show password'">
                              </nb-icon>
                            </button>
                          </nb-form-field>
                       
                        <!-- <input type="text" id="pass" nbInput fullWidth shape="Rectangle" fieldSize="medium" placeholder=""> -->
                    </div>
                    <div class="button"><button nbButton status="primary" (click)="login(ref)">Connexion</button></div>
    
                </div>
                <div class="bottom">
                    <div class="bottom-shape"></div>
                </div>
    
            </nb-card-body>
        </nb-card>
    </div>
    
  </ng-template>
