@font-face {
    font-family: "Lato-Black";
    font-style: normal;
    src: url('../../fonts/Lato/Lato-Black.ttf');
}

@font-face {
    font-family: 'Lato-BlackItalic';
    font-style: normal;
    src: url('../../fonts/Lato/Lato-BlackItalic.ttf');
}

@font-face {
    font-family: 'Lato-Bold';
    font-style: normal;
    src: url('../../fonts/Lato/Lato-Bold.ttf');
}

@font-face {
    font-family: 'Lato-Ligth';
    font-style: normal;
    src: url('../../fonts/Lato/Lato-Light.ttf');
}

@font-face{
    font-family: 'Lato-Regular';
    src: url('../../fonts/Lato/Lato-Regular.ttf');
    font-style: normal;
}
