div {
    font-family: 'Lato-Regular' !important;
}

nb-layout-column {
    margin: none;
    padding: 0 !important;
}

a{
    text-decoration: none !important;
    color: $text-color !important;
}

nb-layout-hader {
    padding: 0 !important;
}

nb-card-body {
    padding: 0 !important;
}

.fixed {
    padding: 0 !important;
}

   
.buttons {
    display: flex;
    justify-content: flex-end;
    button{
        width: 110px !important;
        font-size: 13px !important;
    
    }
}


nb-select .select-button{
    min-width: initial !important;
}


.filters {
    display: flex;
    justify-content: space-between;
    margin: 15px 0 0 0;

    .inputs {
        width: 60%;
        display: flex;
        justify-content: space-between;
    }
    .filter-title {
        display: flex;
        font-size: large;
        margin-right: 1%;
    }
    .input {
        width: 22%;
    }
    .dateInput{
        width: 25%
    }
}
nb-list-item{
    .head{
        @include space-between-row;
        font-weight: 600;
        width: 100%;
    }
   
    .col{
        font-size: 14px;
        margin-left: 2%;
    
        &-date{
            width: 10%;
        }
        
        &-type{
            width: 12%;
        }
        &-code{
            width: 20%;
        }
        &-state{
            width: 10%;
        }
        &-view{
            width: 35%;
        }
       
    
    
        
    }

    .body{
        width: 100%;
        height: 800px;
    }
    
    
}
