$global-with: 100vw;
$global-padding: 10%;
$global-padding-top: 4%;
$color-primary-100: rgba(220, 117, 43, 0.07);
$color-primary-200: rgba(220, 117, 43, 0.07);
$color-primary-300: #dc752a;
$color-primary-400: #dc752a;
$color-primary-500: #dc752a;
$color-primary-600: #dc752a; // $color-primary-600: #E8A371,
$color-primary-700: #e28c4e;
$color-primary-800: #e8a371;
$color-primary-900: #dc752a;

$font-regular: "Lato-Regular";
$font-medium: "Lato-Regular";
$font-demibold: "Lato-Regular";
$font-bold: "Lato-Bold";
$font-black: "Lato-Black";

$text-color: #222b45;



//mixins
@mixin space-between-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
@mixin space-between-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
@mixin align-center {
display: flex;
align-items: center;    
}
@mixin justify-end {
    display: flex;
    justify-content: flex-end;
    
}
@mixin justify-start {
    display: flex;
    justify-content: flex-start;
}

@mixin align-column{
    display: flex;
    flex-direction: column;
}
@mixin justify-center {
    display: flex;
    justify-content: center;
    
}

