@import "../../assets/styles/main";
.note-container {
  padding: 3% $global-padding 0 $global-padding;
  .title {
    width: 25%;
    display: flex;
  }
  .title-text {
    font-size: large;
    font-weight: bold;
    margin-left: 4%;
  }
  .input {
    display: flex;
    justify-content: flex-start !important;
  }
  .filters{
    justify-content: flex-start !important;

  }

  .tab {
    margin-top: 25px;
  }
  nb-card-header {
    display: flex;
    justify-content: space-between;
  }
  .card-body {
    width: 100%;
    height: 55vh;
    background-color: #fff;
  }
}
.list-elt-header,
.list-elt {
  .col {
    font-family: $font-regular;
    font-size: 12px;
    display: flex;
    align-items: center;
  }
  .col.col-ref {
    width: 15%;
  }
  .col.col-name {
    width: 15%
  }
  .col.col-position {
    width: 10%;
  }
  .col.col-direction {
    width: 10%
  }
  .col.col-service {
    width: 10%
  }
  .col.col-activation {
    width: 150px;

    .status-button {
      width: 75px;
    }
  }
  .col.col-action {
    justify-content: flex-end;
    width: calc(100% - 920px);
    .icon-btn {
      margin-right: 7px;
    }
  }
}
.list-elt {
  padding-top: 7px;
  padding-bottom: 7px;
  height: 50px;
}
.list-elt-header {
  padding: 0 1rem !important;
  .col {
    height: 40px;
    font-size: 13px;
    color: #32170d;
    text-transform: none;
    font-family: $font-bold;
  }
}

.list-container {
  nb-card-header {
    padding: 0rem 1rem;
    font-size: 13px !important;

    .pagination {
      margin-right: 5px;
    }
  }
}
