<iut-sidebar></iut-sidebar>
<div class="note-container">
    <div class="title">
        <div class="title-icon" (click)='back()'>
            <nb-icon icon="undo-outline"  [options]="{ animation: { type: 'zoom' } }"></nb-icon>
        </div>
        <div class="title-text">Liste des Notes</div>
    </div>

    <div class="filters">
            <div class="filter-title">{{etudiant.name}}</div>
            <div class="filter-title">{{etudiant.surname}}</div>
            <div class="filter-title">({{etudiant.class}})</div>



    </div>

    <div class="tab">
        <nb-card accent="primary">
            <nb-card-body>
                    <nb-list>
                <nb-list-item class="list-elt list-elt-header">
                    <div class="col col-ref">Matière</div>
                    <div class="col col-name">Credit</div>
                    <div class="col col-position">CC</div>
                    <div class="col col-direction">TPE</div>
                    <div class="col col-activation">SESSION NORMALE</div>
                    <div class="col col-activation">MOYENNE</div>

                    <div class="col col-action"></div>
                  </nb-list-item>
                  <nb-list-item class="list-elt" *ngFor="let matiere of matieres">
                    <div class="col col-ref">{{matiere.courseName}}</div>
                    <div class="col col-name" nbTooltip="{{ matiere?.courseName }}" nbTooltipPlacement="left">{{matiere.credit}}</div>
                    <div class="col col-position">0</div>
                    <div class="col col-direction">0</div>
                    <div class="col col-activation">0</div>
                    <div class="col col-activation">0</div>

                  </nb-list-item>
                </nb-list>
                <div class="card-body"></div>

            </nb-card-body>
        </nb-card>
    </div>
</div>
