<iut-sidebar></iut-sidebar>
<div class="note-container">
    <div class="title">
        <div class="title-icon" (click)='back()'>
            <nb-icon icon="undo-outline"  [options]="{ animation: { type: 'zoom' } }"></nb-icon>
        </div>
        <div class="title-text">Liste des Notes</div>
    </div>

    <div class="filters">
        <div class="inputs">
            <div class="filter-title">Filtrer</div>
            <div class="input">
                <nb-select placeholder="" fullWidth status="primary" size="small" [(selected)]="selectedItem">
                    <nb-option value="">Etudiant</nb-option>
                    <nb-option value="0">Option 0</nb-option>
                    <nb-option value="1">Option 1</nb-option>
                    <nb-option value="2">Option 2</nb-option>
                    <nb-option value="3">Option 3</nb-option>
                    <nb-option value="4">Option 4</nb-option>
                </nb-select>
            </div>
            </div>
        <div class="buttons">
            <button nbButton status="primary" size="small"><nb-icon icon="search-outline" size="large"  [options]="{ animation: { type: 'zoom' } }"></nb-icon>Publier</button>
        </div>
    </div>

    <div class="tab">
        <nb-card accent="primary">
            <nb-card-body>
                    <nb-list>
                <nb-list-item class="list-elt list-elt-header">
                    <div class="col col-ref">Matricule</div>
                    <div class="col col-name">Nom</div>
                    <div class="col col-position">Prénom</div>
                    <div class="col col-direction">CC</div>
                    <div class="col col-service">TPE</div>
                    <div class="col col-activation">SESSION NORMALE</div>
                    <div class="col col-activation">MOYENNE</div>

                    <div class="col col-action"></div>
                  </nb-list-item>
                  <nb-list-item class="list-elt" *ngFor="let etudiant of etudiants">
                    <div class="col col-ref">{{etudiant.matricule}}</div>
                    <div class="col col-name" nbTooltip="{{ etudiant?.name }}" nbTooltipPlacement="left">{{
                      etudiant.name}}</div>
                    <div class="col col-position">{{ etudiant.surname }}</div>
                    <div class="col col-direction">0</div>
                    <div class="col col-service">0</div>
                    <div class="col col-activation">
                     0
                    </div>
                    <div class="col col-activation">0</div>

          
                    <div class="col col-action">
                      <button nbButton size="small" status="basic"  nbTooltip="IDP"
                        nbTooltipStatus="default" nbTooltipPlacement="bottom" class="icon-btn">
                        <nb-icon icon="plus-square-outline" [options]="{ animation: { type: 'zoom' } }" 
                          class="remove-icon"></nb-icon>
                      </button>
                      <button nbButton size="small"  status="basic" nbTooltip="éditer"
                        nbTooltipStatus="default" nbTooltipPlacement="bottom" class="icon-btn">
                        <nb-icon icon="edit-2-outline" [options]="{ animation: { type: 'zoom' } }" status="primary"
                          class="remove-icon"></nb-icon>
                      </button>
                                 
                      <button nbButton size="small" status="basic"  nbTooltip="Désactiver"
                        nbTooltipStatus="default" nbTooltipPlacement="bottom" class="icon-btn">
                        <nb-icon icon="eye-off-outline" [options]="{ animation: { type: 'zoom' } }" status="danger"
                          class="remove-icon"></nb-icon>
                      </button>
          
                    </div>
                  </nb-list-item>
                </nb-list>
                <div class="card-body"></div>

            </nb-card-body>
        </nb-card>
    </div>
</div>
