
<div class="homepage-container">
    <div class="homepage-content">
        <div class="first-title">BIENVENU {{prof.name}} {{prof.surname}}</div>
        <div class="title">LISTE DE VOS MATIERES</div>
      <div class="menu">
        <div class="menu-row">
          <div *ngFor='let item of courses' class="menu-items" (click)='navigate(item.class)'>
           
              <div class="item-icon">
                <div class="home-icon icon-layer">{{item.courseName}}</div>
              </div>
              <div class="item-title">{{item.class}}</div>
              <div class="item-description">
                Consulter les note des differents étudianst qui suivent ce cour
              </div>
          </div>
        </div>
        </div>
    </div>
  </div> 