@import '../../assets/styles/main';
.homepage-container {
    margin: 0 $global-padding 0 $global-padding;
    display: flex;
    justify-content: space-around;
    height: 100%;
    .homepage-content {
    .first-title{
        font-size: x-large;
        font-weight: bold;
        margin-top: 10% ;
        text-align: center;
    }
    .title{
        font-size: large;
        font-weight: bold;
        margin-top: 2%;
        text-align: center;
    }

        .menu {
            margin-top: 3%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        .menu-row {
            display: flex;
            justify-content: space-between;
            margin: 4% 4% 0% 0;
        }
        .menu-items {
            width: 23%;
            border: 1px solid #3366ff;
            padding: 5% 2% 7% 2%;
            background-color: #fff;
            box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

            &:hover{
                transform: scale(1.1);
            }
        }
        .item-icon {
            display: flex;
            justify-content: space-around;
            margin-bottom: 22px;
            text-align: center;
        }
        .item-title {
            text-align: center;
            font-weight: bold;
            margin-bottom: 14px;
            font-size: 18px;
        }
        .item-description {
            text-align: center;
            font-weight: 550;
            font-size: 12px;
            line-height: 14px;
        }
    }
}
